

nav {
  flex-direction: row;
  justify-content: center;
}


.album {
  grid-template-columns: repeat(3, 1fr);
  max-width: 1200px;
  margin: 0 auto;
}

#menu-button {
  display: none;
}

/* Always show nav on desktop */
.nav-menu {
  display: flex !important;
  flex-direction: row;
  justify-content: flex-end;
  background: none;
  width: auto;
}