body {
    font-family: 'Roboto', sans-serif;
}

header, main, footer {
    max-width: 640px;
    margin: 1rem auto;
    padding: 1rem;
    border: 1px solid #c9d7e8;
    background-color: #cfe0f5;
}

main {
    display: grid;
    grid-template-columns: 1fr; /* Only one column */
    grid-gap: 1rem; /* Equal gap */
}


section {
    background-color: #ffffff; 
    padding: 1rem;
}

